<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904746056228-g8rcmubllthjelkd9o8ke7vnhgedu1jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904746056228-g8rcmubllthjelkd9o8ke7vnhgedu1jj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904746056228-tgdgdc2ho3mrtr7niokid696eb9ai5fg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFLbNcy1Hi4rJeYhaPjN9RUT0ZmCQWB7o</string>
	<key>GCM_SENDER_ID</key>
	<string>904746056228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAndroid</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-ee522</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-ee522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904746056228:ios:9185dcbda62d8751</string>
	<key>DATABASE_URL</key>
	<string>https://fir-flutter-ee522.firebaseio.com</string>
</dict>
</plist>